/*
 -- Colors --
 text: #333
 primary: #45aaf2
 highlight: #ef5777
 background: #d1d8e0
 
 */

body.light{
    color: #333;
    background: #fff;
    
}

body.light h1{
    color:#0fbcf9;
    
}
body.light .show-in-dark-mode{
    display:none;
}

body.light #display-mode-button{
    background-image: url("../assets/dark_mode-24px.svg");
}
/*
body.light #display-mode-button::before{
 content: "Switch to Dark Mode";
}
*/

body.light a, body.light a:active{
    color: #333;
}
