body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.flex{
    display: flex;
}

.center{
    max-width: 1280px;
    margin: 0 auto;
}

#footer ul, #header ul{
    list-style: none;
    padding: 0;
}

#footer li, #header li{
    list-style: none;
    display:inline;
    padding: 0 16px;
}

#footer li{
    padding: 4px 16px;
}

#display-mode-button{
    padding: 8px 32px 8px 16px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
a, a:active{
    text-decoration:none;
}

a:hover{
    text-decoration: underline;
}

.text-center{
    text-align:center
}
